<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>URL Monitor - About</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>About</h1>
		<p>This is a hobby project that I created on my own.</p>
		<p>The basic idea is to ping a URL and see if it 
		<br/>
		a) responds with a 200 <br/>
		b) if that response contains the text that you're expecting.</p>
		<p>Actually though, I mostly wanted to experiment with merging Node.js and Spring Boot 
		into a self-contained application. This app uses Spring Boot, Webpack, Node, React, Bootstrap, and a few other modules.</p>
		<p>You can find more info on the GitHub repo or by emailing derrek @ derrek.young.com</p>
	</div>
</body>
</html>