<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>URL Monitor - Index</title>
</head>
<body>
	<div layout:fragment="content">
		 <div id="react"></div>
    
    	<script th:src="@{/webjars/jquery/2.2.2/jquery.min.js}"></script>
		<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
		<script src="build/bundle.js"></script>
	</div>
</body>
</html>